# ---- Python ----
venv/
.venv/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib

# macOS / OS
.DS_Store

# Logs / temp
logs/
*.log
hs_err_pid*.log
tmp/
.cache/

# ---- Java / Spring ----
HELP.md

build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
*.class
*.war
*.jar

# Maven(쓰면)
target/

# ---- IDE ----
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# ---- Frontend (리액트 등) ----
node_modules/
dist/
.next/
build-frontend/
*.map

# ---- Secrets / Config ----
src/main/resources/application.properties
src/main/resources/*.yml
.env
.env.*maumii-be.tar.gz
